/* pseudoelementos */
:root {
    /* variables de css */
    --blanco: #fff;
    --negro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
}
.titulo span {
    font-size: 2rem;
}

/* 
rem -> unidad de medida, permite que el sitio se adapte bien en cualquier dispositivo
1 rem = 10px

SELECTORES
selector de elemento
p {}
selector de clase
.cliente {}
selector de id
#elemento {}
selector de atributo
[src="logo.jpg"] {}
combinación de descendentes
.tel .nombre {} / h1 span {} / .cliente h2 {}
todos los hijos
.cliente > p {}

ESPECIFIDAD
es como el navegador va a mostrar el css de acuerdo a que tan específico es el selector que se ha creado
case1
p#parrafo {}
p { color: red!important;} //este es más importante
case2
p.parrafo {} //este es más importante
p {}
*/