/* pseudoelementos */
:root {
    /* variables de css */
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
}
.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 100rem;
    margin: 0 auto;
}
.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.navegacion-principal a:hover {
    color: var(--oscuro);
    background-color: var(--primario);
}

/* 
rem -> unidad de medida, permite que el sitio se adapte bien en cualquier dispositivo
1 rem = 10px

SELECTORES
selector de elemento
p {}
selector de clase
.cliente {}
selector de id
#elemento {}
selector de atributo
[src="logo.jpg"] {}
combinación de descendentes
.tel .nombre {} / h1 span {} / .cliente h2 {}
todos los hijos
.cliente > p {}

ESPECIFIDAD
es como el navegador va a mostrar el css de acuerdo a que tan específico es el selector que se ha creado
case1
p#parrafo {}
p { color: red!important;} //este es más importante
case2
p.parrafo {} //este es más importante
p {}

*/